# -------------------------------------------------------------------------------
# This file contains configuration of the audio plugin.
#   Package:             lsp-plugin-fw ((null))
#   Package version:     0.5.0
#   Plugin name:         Impulsantworten Mono (Impulse Responses Mono)
#   Plugin version:      1.0.3
#   UID:                 impulse_responses_mono
#   LV2 URID:            http://lsp-plug.in/plugins/lv2/impulse_responses_mono
#   VST identifier:      wvwt
# 
# (C) LSP Plugin Framework
#   https://lsp-plug.in/
# 
# -------------------------------------------------------------------------------

# Bypass [boolean]: true/false
bypass = false

# FFT size: 0..7
#   0: 512
#   1: 1024
#   2: 2048
#   3: 4096
#   4: 8192
#   5: 16384
#   6: 32768
#   7: 65536
fft = 6

# Dry amount [G]: 0.00000000..10.00000000
dry = -32.24 db

# Wet amount [G]: 0.00000000..10.00000000
wet = -32.24 db

# Output gain [G]: 0.00000000..1000.00000000
g_out = 51.81 db

# Impulse file [pathname]
ifn = "/mnt/1TB/Work/Reaper/Sound_Banks/Impulses/Big Gee's Lexicon 480L/Drum Plate.wav"

# Head cut [ms]: 0.00000000..10000.00000000
ihc = 0.00000

# Tail cut [ms]: 0.00000000..10000.00000000
itc = 1114.49854

# Fade in [ms]: 0.00000000..10000.00000000
ifi = 124.00000

# Fade out [ms]: 0.00000000..10000.00000000
ifo = 289.00000

# Impulse listen [boolean]: true/false
ils = false

# Channel source: 0..2
#   0: None
#   1: Left
#   2: Right
cs = 2

# Makeup gain [G]: 0.00000000..100.00000000
mk = 14.97 db

# Pre-delay [ms]: 0.00000000..100.00000000
pd = 8.30000

# Wet post-process [boolean]: true/false
wpp = true

# Equalizer visibility [boolean]: true/false
eqv = true

# Low-cut mode: 0..3
#   0: off
#   1: 12 dB/oct
#   2: 24 dB/oct
#   3: 36 dB/oct
lcm = 1

# Low-cut frequency [Hz]: 10.00000000..1000.00000000
lcf = 55.81112

# Band 50Hz gain [G]: 0.25119001..3.98107004
eq_0 = 0.00 db

# Band 107Hz gain [G]: 0.25119001..3.98107004
eq_1 = 0.00 db

# Band 227Hz gain [G]: 0.25119001..3.98107004
eq_2 = -9.92 db

# Band 484Hz gain [G]: 0.25119001..3.98107004
eq_3 = 0.00 db

# Band 1 kHz gain [G]: 0.25119001..3.98107004
eq_4 = -12.04 db

# Band 2.2 kHz gain [G]: 0.25119001..3.98107004
eq_5 = 0.00 db

# Band 4.7 kHz gain [G]: 0.25119001..3.98107004
eq_6 = 14.88 db

# Band 10 kHz gain [G]: 0.25119001..3.98107004
eq_7 = 0.00 db

# High-cut mode: 0..3
#   0: off
#   1: 12 dB/oct
#   2: 24 dB/oct
#   3: 36 dB/oct
hcm = 1

# High-cut frequency [Hz]: 2000.00000000..22000.00000000
hcf = 10000.00000


# -------------------------------------------------------------------------------
# KVT parameters
# -------------------------------------------------------------------------------


# -------------------------------------------------------------------------------
